input::placeholder {
  color: #e4f3ff;
  font-size: 18px;
}

.el-checkbox {
  &__input.is-checked .el-checkbox__inner,
  &__input.is-indeterminate .el-checkbox__inner {
    background-color: #40acff;
    border-color: #40acff;
  }
}

.ds-bg {
  width: 100%;
  height: 100%;
  background-image: url("@/assets/images/home/pageBg.png");
  background-size: cover;
  background-position: center center;

  .loading-tip {
    color: #ffffff;
  }
}

.ds {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-login {
    background-image: url("@/assets/images/login/bg.png");

    .el-input {
      &__inner {
        padding-left: 44px;
      }

      &__prefix {
        display: flex;
        align-items: center;
        left: 14px;

        img {
          width: 22px;
          height: 22px;
        }
      }
    }

    .el-form {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: 150px;
      width: 350px;
      height: 100%;

      &-item {
        width: 100%;
        margin-bottom: 26px;

        &__error {
          font-size: 16px;
        }

        h1 {
          padding-top: 80px;
          img {
            width: 100%;
            display: block;
            margin-bottom: 6px;
          }
        }

        .el-input {
          &__inner {
            height: 50px;
            font-size: 16px;
            background-color: rgba(#001e62, 0.5);
            border-color: rgba(#4171c1, 0.5);
            color: #ffffff;
            transition: all 0.3s;
          }
        }

        .el-checkbox {
          color: #e4f3ff;

          &.is-checked {
            .el-checkbox__inner {
              background-color: #40acff;
            }
          }

          &__inner {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            font-weight: bold;
            background-color: initial;

            &::after {
              border-width: 3px;
              top: 3px;
              left: 6px;
            }
          }

          &__label {
            font-size: 18px;
          }
        }

        .el-button {
          width: 100%;
          height: 50px;
          font-size: 20px;
          background-color: #40acff;
          box-shadow: 0px 8px 16px 0px rgba(#40acff, 0.25);
        }

        .el-link {
          font-size: 18px;
        }
      }

      .login-checked {
        margin-bottom: 22px;

        .el-form-item__content {
          line-height: initial;
        }

        &__content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
        }
      }
    }
  }

  &-home {
    background-image: url("@/assets/images/home/bg.png");
    background-color: #000000;

    &::after,
    &::before {
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      content: "";
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }

    &::after {
      height: 400px;
      bottom: 0;
      background-image: url("@/assets/images/home/bottom.png");
    }

    &::before {
      height: 10px;
      bottom: 20px;
      background-image: url("@/assets/images/home/footer.png");
    }

    .el-header {
      height: 106px !important;
      padding: 0 38px;
      background-image: url("@/assets/images/home/header.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;

      .ds-flex {
        height: 100%;
      }

      span {
        font-size: 16px;
        color: #e2effe;
      }

      .right {
        .el-link {
          margin-left: 40px;

          &--inner {
            display: flex;
            align-items: center;
            color: #ffffff;

            &:hover {
              color: rgba(#ffffff, 0.75);
            }
          }

          .el-avatar {
            background: initial;
            margin-right: 10px;
          }
        }
      }
    }

    .el-main {
      position: relative;
      padding: 0 30px;
      z-index: 1001;

      .ds-flex {
        position: relative;
        height: 100%;

        &::before,
        &::after {
          position: absolute;
          top: 0;
          display: block;
          content: "";
          width: 172px;
          height: 100%;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
        }

        &::before {
          left: 30px;
          background-image: url("@/assets/images/home/left.png");
        }

        &::after {
          right: 30px;
          background-image: url("@/assets/images/home/right.png");
        }

        .ds-number {
          display: flex;
          align-items: center;
          position: absolute;
          top: 0;
          height: 100%;

          ul {
            li {
              margin: 50px 0;
              color: #ffffff;

              span {
                font-size: 40px;
                font-family: "DIN-BoldItalic";
                font-style: italic;
                font-weight: bold;

                &.color1 {
                  color: #20fbff;
                }
                &.color2 {
                  color: #34d2ff;
                }
                &.color3 {
                  color: #6996fe;
                }
                &.color4 {
                  color: #20fbff;
                }
                &.color5 {
                  color: #34d2ff;
                }
              }

              p {
                font-size: 18px;
                font-family: "PingFang-SC-Medium";
                color: #ffffff;
              }
            }
          }

          &.left {
            left: 155px;
          }

          &.right {
            right: 155px;
          }
        }
      }

      .ds-map {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-image: url("@/assets/images/home/disc.png");
        background-repeat: no-repeat;
        background-size: 1370px 400px;
        background-position: center bottom;
      }
    }
  }
}
